---
import NotesSidebar from "../layouts/NotesSidebar.astro";
import "@fontsource/fragment-mono";
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
		<link rel="icon" href="https://em-content.zobj.net/thumbs/240/apple/354/globe-showing-asia-australia_1f30f.png">
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Links to corners of the web" />
    <title>Notes</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="index-container">
      <div class="sidebar">
        <NotesSidebar />
      </div>
    </div>
  </body>
</html>
