---
import "../styles/currently.scss";
---

<div>
  <span class="currently-header">I'm reading:</span>
  <div id="currently-container">
    <a
      href="https://www.goodreads.com/en/book/show/133938826"
      target="_blank"><img id="currently-image" src="/assets/reading.jpeg" /></a
    >
    <div id="currently-info">
      <span>Welcome to the Hyunam-Dong Bookshop</span>
      <span>Hwang Bo-reum</span>
      <span>Jan 2024</span>
    </div>
  </div>
</div>
