---
import "@fontsource/fragment-mono";
import "../styles/sidebar.scss";
import WorkList from "../components/WorkList";
import ListeningTo from "../components/Listening";
import Reading from "../components/Reading.astro";
import Currently from "../components/Currently.astro";

---

<div class="sidebar-container">
  <span class="name">
    <a class="name-link" href="/">Uyen Dien</a>
    <a class="gray-link" href="/about">About</a>
  </span>
  <div class="about-container">
    <span class="about-blurb">
      Recent design and IT graduate from Monash University looking to turn pixels into poetry. 
    </span>

    <!-- <br>Find me on <a href="https://www.instagram.com/uyen.world/" target="_blank">Instagram</a>, <a href="https://www.linkedin.com/in/uyendien/" target="_blank">LinkedIn</a>, <a href="mailto: dienuyenh@gmail.com" target="_blank">Gmail</a> and  <a href="/links">more →</a> -->

    <div class="about-links">
      I'm also on:
      <ul class="list">
        <li><a href="https://www.instagram.com/uyen.world/" target="_blank">Instagram</a></li>
        <li>
          <a href="https://www.linkedin.com/in/uyendien/" target="_blank">LinkedIn</a>
        </li>
        <li><a href="mailto: dienuyenh@gmail.com" target="_blank">Gmail</a></li>
        <li>
          <a href="/links"> More →</a>
        </li>
      </ul>
    </div>
  </div>
  <WorkList client:load/>
  <ListeningTo client:load/>
  <Reading />
  <Currently />

  <div class="about-blurb">
    <span>
      This was my first time building a site <br> using React and Astro! <br>
      ©2024 Uyen Dien. All Rights Reserved.
    </span>
  </div>

  <!-- <span class="last-updated">
    <a href={url} id="last-updated"> Last updated: {dateFormat}</a>
  </span> -->
</div>
